<!doctype html>
<html lang="{{@site.lang}}">

<head>
    <title>{{meta_title}}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{asset "css/bootstrap.min.css"}}">


    {{!-- Custom Styles --}}
    <link rel="stylesheet" href="{{asset "css/style.css"}}">

    {{!-- Header CSS --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/header.css"}}" />

    {{!-- Footer CSS --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/footer.css"}}" />

    {{!-- Hero CSS --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/hero.css"}}" />

    {{!-- Animate On Scroll Library --}}
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@1,500&display=swap" rel="stylesheet">



    {{!-- Dynamic header content for SEO, meta tags, code injection etc --}}
    {{ghost_head}}
</head>

<body class="{{body_class}}">


    {{!-- Navigation bar --}}
    <header class="header" style="background-color: rgba(34,34,34,0.9);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); margin-bottom: 50px;">
            <nav>
                <a href="/"> {{> logo}} </a> <input class="menu-btn" type="checkbox" id="menu-btn" /> <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label> 
                <ul class="menu">
                    <li><a class="nav-hover" href="/#mission" >MISSION</a></li>
                    <li><a class="nav-hover" href="/resources">RESOURCES</a></li>
                    <li ><a class="nav-current" href="/blog">BLOG</a></li>
                    <li><a class="nav-hover" href="/contact">CONTACT</a></li>
                    <li> <a href="/donate"><button type="button" class="donate-button">DONATE</button> </a></li>
                </ul>
            </nav>
        </header>
            
            <!--<section><h3>Recent posts from the blog</h3><ul><li> <a href="/blog/the-most-recent-post-so-far">The most recent post so far</a></li><li> <a href="/blog/a-simple-post">A simple blog post</a></li><li> <a href="/blog/another-post">Another post</a></li></ul></section>-->
        

    {{!-- End Navbar --}}

    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
    <div class="section-1" style="margin-bottom:0px">
{{!--     <div class="text-heading" style="margin-top: 100px" > <h2>BLOG</h2></div>
 --}}    {{{body}}}

    </div>
    {{!-- <footer>
            <div class="footer-items">
            <h2 class="footer-defund-the-police">DEFUND THE POLICE.</h2>
 
        <!--     <img src="logo.png" width="100" height="100"> -->
<hr>

            <div class="hero-social-media">
            <img  src="{{asset "images/facebook.png"}}" width="50" height="50">
            <img  src="{{asset "images/instagram.png"}}" height="50">
            <img  src="{{asset "images/twitter.png"}}" height="50">

            </div>
            </div>
        </footer> --}}

    {{!-- Footer content goes here --}}
    {{!-- <div class="card">
        <div class="card-footer text-muted">
            &copy; {{date format="YYYY"}} {{@site.title}}
        </div>
    </div> --}}
    {{!-- End of footer --}}

    {{!-- Dynamic footer content from code injection etc --}}
    {{!-- {{ghost_foot}} --}}

    <!-- Optional JavaScript -->
    <!-- jQuery Slim first, then Popper.js, then Bootstrap JS -->
    <script src="{{asset "js/jquery.min.js"}}"></script>
    <script src="{{asset "js/popper.min.js"}}"></script>
    <script src="{{asset "js/bootstrap.min.js"}}"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>