{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<div id="mission" data-aos="fade-up" class="section-width mx-auto mt-200px">

        <div class="text-heading" > <h2> BLOG </h2> </div>
                <div class="page-content">
                    {{!-- Display the post content --}}
                    {{#page}} {{content}} {{/page}}
                </div>
    </div>

{{!-- The main content area --}}
<main id="site-main">
    <div class="blog-container">

        <div class="p-5">
            {{!-- Iterate through each posts --}}
            {{#foreach posts}}
                    <a class="text-dark" href="{{url}}">
                        <article class="{{post_class}} card grow " data-aos="fade-up">
                            <div class="card-body p-0">

                                {{!-- Display primary tag of the post if exists--}}
                            {{!--     {{#if primary_tag}}
                                <a href="{{primary_tag.url}}" class="badge badge-success">
                                    {{primary_tag.name}}
                                </a>
                                {{/if}} --}}

                                {{!-- Displays featured image if it exists.--}}
                                {{#if feature_image}}
                                    <img class="card-img-top" src={{feature_image}} />
                                {{/if}}
                                <br>
                                <div class="p-4 m-2">
                                    {{!-- Post title --}}
                                    <div class="text-heading"> <h3>{{title}}</h3> </div>
                                    {{!-- Displays post excerpt. Sets to display max 170 chars if not set --}}
                                    <p class="blog-card-text">{{excerpt characters="170"}}</p>
                                    {{!-- Displays reading time and publised time --}}
                                    <div>
                                        <span class="reading-time blog-card-text">{{reading_time}}</span>
                                        <span class="blog-card-text"> - Published: {{date published_at timeago="true"}}</span>
                                    </div>
                                </div>
                            </div>{{!--/.post-card-content--}}     
                        </article>
                    </a>
                    {{/foreach}}

{{pagination}}
        </div>



    </div>


</main>
