{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<div data-aos="fade-up"> <div class="text-body"> {{#page}} {{content}} {{/page}} </div></div>

<div id="mission" data-aos="fade-up">

        <div class="text-heading" > <h2> BLOG </h2> </div>
        <section class="mt-5">
                <div class="text-body">
                    {{!-- Display the post content --}}
                    {{#page-blog}} {{content}} {{/page-blog}}
                </div>
            </section>
    </div>

{{!-- The main content area --}}
<main id="site-main">
    <div class="blog-container">

        <div class="p-5">
            {{!-- Iterate through each posts --}}
            {{#foreach posts}}

            <a class="text-dark" href="{{url}}">
            <article data-aos="fade-up" class="{{post_class}} blog-card grow" >
                <div class="card-body">

                    {{!-- Display primary tag of the post if exists--}}
                    {{!-- {{#if primary_tag}}
                    <a href="{{primary_tag.url}}" class="badge badge-success">
                        {{primary_tag.name}}
                    </a>
                    {{/if}} --}}

                    
                    {{!-- Post title --}}
                    <div class="text-heading"> <h3>{{title}}</h3> </div>
                        
                    {{!-- Displays featured image if it exists.--}}
                    {{#if feature_image}}
                            <img src={{feature_image}} />
                    {{/if}}
                    <br>
   
                    {{!-- Displays post excerpt. Sets to display max 170 chars if not set --}}
                    <p>{{excerpt characters="170"}}</p>

                    <div>
                        <span class="reading-time">{{reading_time}}</span>
                        <span> - Published: {{date published_at timeago="true"}}</span>
                    </div>

                </div>{{!--/.post-card-content--}}
            
            </article>
            </a>

            {{/foreach}}

{{pagination}}
        </div>



    </div>


</main>

<footer>
            <div class="footer-items">
            <h2 class="footer-defund-the-police">DEFUND THE POLICE.</h2>
 
        <!--     <img src="logo.png" width="100" height="100"> -->
<hr>

            <div class="hero-social-media">
            <a href="https://www.facebook.com/wpgpoliceharm/" target="_blank"> <img class="hvr-float"  src="{{asset "images/facebook.png"}}" width="50" height="50"> </a>
            <a href="https://www.instagram.com/wpgpoliceharm/" target="_blank"> <img class="hvr-float"  src="{{asset "images/instagram.png"}}" height="50"> </a>
            <a href="https://twitter.com/WpgPoliceHarm" target="_blank"> <img class="hvr-float"  src="{{asset "images/twitter.png"}}" height="50"> </a>

            </div>
            </div>
        </footer>
