<!doctype html>
<html lang="{{@site.lang}}">

<head>
    <title>{{meta_title}}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{asset "css/bootstrap.min.css"}}">


    {{!-- Custom Styles --}}
    <link rel="stylesheet" href="{{asset "css/style.css"}}">

    {{!-- Header CSS --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/header.css"}}" />

    {{!-- Footer CSS --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/footer.css"}}" />

    {{!-- Hero CSS --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/hero.css"}}" />

    {{!-- Animate On Scroll Library --}}
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@1,500&display=swap" rel="stylesheet">



    {{!-- Dynamic header content for SEO, meta tags, code injection etc --}}
    {{ghost_head}}
</head>

<body class="{{body_class}}">


    {{!-- Navigation bar --}}
    <header class="header" style="background-color: rgba(34,34,34,0.9);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); margin-bottom: 50px;">
            <nav>
                <a href="/"> <img class="header-logo" src="{{asset "images/logo.png"}}" width="75" height="75" /> </a> <input class="menu-btn" type="checkbox" id="menu-btn" /> <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
                <ul class="menu">
                    <li><a class="nav-hover" href="/#mission">MISSION</a></li>
                    <li><a class="nav-current" href="/resources">RESOURCES</a></li>
                    <li><a class="nav-hover" href="/blog">BLOG</a></li>
                    <li><a class="nav-hover" href="/contact">CONTACT</a></li>
                    <li> <a href="/donate"><button type="button" class="donate-button">DONATE</button> </a></li>
                </ul>
            </nav>
        </header>

        
    <div id="mission" data-aos="fade-up" class="section-1">

        <div class="text-heading" > <h2 style="margin-top: 100px;">Posters</h2></div>
        <div class="text-mission"> {{!-- <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aliquam malesuada bibendum arcu vitae. Velit aliquet sagittis id consectetur purus ut faucibus pulvinar. Aenean pharetra magna ac placerat vestibulum. Rhoncus mattis rhoncus urna neque. Donec enim diam vulputate ut pharetra sit amet. Enim tortor at auctor urna nunc id. Sagittis purus sit amet volutpat consequat mauris nunc congue. Consequat ac felis donec et odio pellentesque diam.</p> --}}</div>
        
    </div>

    <section class="flex-grid-thirds" style="margin-bottom: 50px">

        <a href="   https://drive.google.com/file/d/1DCkjFweTrxfWZcsn8bDnJhh1nAev0Wmh/view" target="_blank"><div data-aos="fade-up" class="left "> <img class="responsive-poster-size hvr-float"  src="{{asset "images/poster1.png"}}" width="410" height="532">

        </div>
        </a>

        <a href="https://drive.google.com/file/d/15U4hWejgt-DiW2e7Hgx0stUGEW2z_kBx/view" target="_blank"><div data-aos="fade-up" class="center"> <img class="responsive-poster-size hvr-float"  src="{{asset "images/poster2.png"}}" width="410" height="532">

        </div>
        </a>

         <a href="  https://drive.google.com/file/d/1UHvKqXD6-nZJHvgnE3G74Yc7VSR6wHW_/view" target="_blank"> <div data-aos="fade-up" class="right"> <img class="responsive-poster-size hvr-float"  src="{{asset "images/poster3.png"}}" width="410" height="532">

        </div>
        </a>

    </section>

    <section class="flex-grid-thirds" style="margin-bottom: 50px">

        <a href="   https://drive.google.com/file/d/1Fe7nttAFlIdie_IFhZnVUaxo2-ZUOT9C/view" target="_blank"> <div data-aos="fade-up" class="left poster "> <img  class="responsive-poster-size hvr-float" src="{{asset "images/poster4.png"}}" width="410" height="532">

        </div>
        </a>

        <a href="   https://drive.google.com/file/d/1rE-zyk0wi6La9TSbnNzpfy0tcqNcv22o/view" target="_blank">
        <div data-aos="fade-up" class="center"> <img class="responsive-poster-size hvr-float"  src="{{asset "images/poster5.png"}}" width="410" height="532">

        </div>
        </a>

        <a href="   https://drive.google.com/file/d/1rdmkzMTQqzwu1ZIuWGn5nB67wdN9T18e/view" target="_blank">
        <div data-aos="fade-up" class="right"> <img class="responsive-poster-size hvr-float"  src="{{asset "images/poster6.png"}}" width="410" height="532">

        </div>
        </a>

    </section>

    <section class="flex-grid-thirds" style="margin-bottom: 50px">

         <a href="   https://drive.google.com/file/d/1OGNr5npeXV82LM547y9CO-USjdjRAump/view" target="_blank">
        <div data-aos="fade-up" class="left"> <img class="responsive-poster-size hvr-float"  src="{{asset "images/poster7.png"}}" width="410" height="532">

        </div>
        </a>

        <a href="   https://drive.google.com/file/d/1YvjDW02pklJvOvSDLO9rEaWKk6aZwhPQ/view" target="_blank">
        <div data-aos="fade-up" class="center"> <img class="responsive-poster-size hvr-float"  src="{{asset "images/poster8.png"}}" width="410" height="532">

        </div>
        </a>

        <a href="   https://drive.google.com/file/d/1nL2pkKEvCxtgNGGDpjd3k13EF0uR5qNP/view" target="_blank">
        <div data-aos="fade-up" class="right"> <img class="responsive-poster-size hvr-float"  src="{{asset "images/poster9.png"}}" width="410" height="532">

        </div>
        </a>

    </section>
    <div  style="display: flex;
    justify-content: center;margin-bottom: 100px;margin-top: 50px;"> 
    <a href="https://drive.google.com/file/d/1RmsY8flr9wv4YuBaKHm2dmADoXtUgcJx/view" target="_blank" class="myButton grow2">DOWNLOAD</a>
    </div>
        <footer>
            <div class="footer-items">
            <h2 class="footer-defund-the-police">DEFUND THE POLICE.</h2>
 
        <!--     <img src="logo.png" width="100" height="100"> -->
<hr>

            <div class="hero-social-media">
            <a href="https://www.facebook.com/wpgpoliceharm/" target="_blank"> <img class="hvr-float"  src="{{asset "images/facebook.png"}}" width="50" height="50"> </a>
            <a href="https://www.instagram.com/wpgpoliceharm/" target="_blank"> <img class="hvr-float"  src="{{asset "images/instagram.png"}}" height="50"> </a>
            <a href="https://twitter.com/WpgPoliceHarm" target="_blank"> <img class="hvr-float"  src="{{asset "images/twitter.png"}}" height="50"> </a>

            </div>
            </div>
        </footer>
    {{!-- End Navbar --}}

    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
    {{{body}}}

    {{!-- Footer content goes here --}}
    {{!-- <div class="card">
        <div class="card-footer text-muted">
            &copy; {{date format="YYYY"}} {{@site.title}}
        </div>
    </div> --}}
    {{!-- End of footer --}}

    {{!-- Dynamic footer content from code injection etc --}}
    {{!-- {{ghost_foot}} --}}

    <!-- Optional JavaScript -->
    <!-- jQuery Slim first, then Popper.js, then Bootstrap JS -->
    <script src="{{asset "js/jquery.min.js"}}"></script>
    <script src="{{asset "js/popper.min.js"}}"></script>
    <script src="{{asset "js/bootstrap.min.js"}}"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init( {once: true}
    );
  </script>
</body>

</html>