<!doctype html>
<html lang="{{@site.lang}}">

<head>
    <title>{{meta_title}}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{asset "css/bootstrap.min.css"}}">


    {{!-- Custom Styles --}}
    <link rel="stylesheet" href="{{asset "css/style.css"}}">

    {{!-- Header CSS --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/header.css"}}" />

    {{!-- Footer CSS --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/footer.css"}}" />

    {{!-- Hero CSS --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/hero.css"}}" />

    {{!-- Animate On Scroll Library --}}
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">



    {{!-- Dynamic header content for SEO, meta tags, code injection etc --}}
    {{ghost_head}}
</head>

<body class="{{body_class}}">


    {{> nav}}

    {{#post}}
        
    <div id="mission" class="section-width mx-auto mt-200px mb-100px"> 

        <div data-aos="fade-up" class="text-heading text-upper" > <h2>{{title}}</h2></div>
        <div data-aos="fade-up">
            <div class="page-content">
                {{content}}
            </div>
        </div>
        
    </div>

    {{/post}}

     {{> footer}}
    


    <!-- Optional JavaScript -->
    <!-- jQuery Slim first, then Popper.js, then Bootstrap JS -->
    <script src="{{asset "js/jquery.min.js"}}"></script>
    <script src="{{asset "js/popper.min.js"}}"></script>
    <script src="{{asset "js/bootstrap.min.js"}}"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init( {once: true}
    );
  </script>
</body>

</html>