{{!< default}}

{{!-- Navigation bar --}}
    <header class="header">
            <nav>
                <img class="header-logo" src="{{asset "images/logo.png"}}" width="75" height="75" /> <input class="menu-btn" type="checkbox" id="menu-btn" /> <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
                <ul class="menu">
                    <li><a href="/" data-current="current page">MISSION</a></li>
                    <li><a href="/resources">RESOURCES</a></li>
                    <li><a href="/blog">BLOG</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                    <li><button type="button" class="donate-button">DONATE</button></li>
                </ul>
            </nav>
        </header>

        <div class="hero">
            <div class="text-heading">
            <img class="hero-logo" src="{{asset "images/logo.png"}}" width="300" height="300">
            <h2>DEFUND THE POLICE</h2>
           <div class="hero-social-media">

            <img  src="{{asset "images/facebook.png"}}" width="50" height="50">
            <img  src="{{asset "images/instagram.png"}}" width="50" height="50">
            <img  src="{{asset "images/twitter.png"}}" width="50" height="50">


            </div>
            
            <!--<section><h3>Recent posts from the blog</h3><ul><li> <a href="/blog/the-most-recent-post-so-far">The most recent post so far</a></li><li> <a href="/blog/a-simple-post">A simple blog post</a></li><li> <a href="/blog/another-post">Another post</a></li></ul></section>-->
        </div>
    </div>


<main id="site-main">
    <div class="container">

        <div class="p-5">
            {{!-- Iterate through each posts --}}
            {{#foreach posts}}

            <article class="{{post_class}}" style="margin-bottom: 20px;">
                <div class="card-body">

                    {{!-- Display primary tag of the post if exists--}}
                    {{!-- {{#if primary_tag}}
                    <a href="{{primary_tag.url}}" class="badge badge-success">
                        {{primary_tag.name}}
                    </a>
                    {{/if}} --}}

                    <a class="text-dark" href="{{url}}">
                        {{!-- Post title --}}
                        <div class="text-heading"> <h3>{{title}}</h3> </div>
                    </a>

                    {{!-- Displays post excerpt. Sets to display max 170 chars if not set --}}
                    <p>{{excerpt characters="170"}}</p>

                    <div>
                        <span class="reading-time">{{reading_time}}</span>
                        <span> - Published: {{date published_at timeago="true"}}</span>
                    </div>

                </div>{{!--/.post-card-content--}}
            </article>

            {{/foreach}}

{{pagination}}
        </div>

    </div>
</main>

<footer>
            <div class="footer-items">
            <h2 class="footer-defund-the-police">DEFUND THE POLICE.</h2>
 
        <!--     <img src="logo.png" width="100" height="100"> -->
<hr>

            <div class="hero-social-media">
            <img  src="{{asset "images/facebook.png"}}" width="50" height="50">
            <img  src="{{asset "images/instagram.png"}}" height="50">
            <img  src="{{asset "images/twitter.png"}}" height="50">

            </div>
            </div>
        </footer>