<!doctype html>
<html lang="{{@site.lang}}">

<head>
    <title>{{meta_title}}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{asset "css/bootstrap.min.css"}}">


    {{!-- Custom Styles --}}
    <link rel="stylesheet" href="{{asset "css/style.css"}}">

    {{!-- Header CSS --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/header.css"}}" />

    {{!-- Footer CSS --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/footer.css"}}" />

    {{!-- Hero CSS --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/hero.css"}}" />

    {{!-- Animate On Scroll Library --}}
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">



    {{!-- Dynamic header content for SEO, meta tags, code injection etc --}}
    {{ghost_head}}
</head>

<body class="{{body_class}}">


    {{> nav}}

        
    <div class="hero">
            <div data-aos="fade-up" class="text-heading contact-margin">
            {{!-- <img class="hero-logo" src="{{asset "images/logo.png"}}"> --}}
            <h2> CONTACT US </h2>

            <div data-aos="fade-up" class="hero-social-media" style="margin-bottom: 50px">

            <a href="https://www.facebook.com/wpgpoliceharm/" target="_blank"> <img class="hvr-float"  src="{{asset "images/facebook.png"}}" width="50" height="50"> </a>
            <a href="https://www.instagram.com/wpgpoliceharm/" target="_blank"> <img class="hvr-float"  src="{{asset "images/instagram.png"}}" width="50" height="50"> </a>
            <a href="https://twitter.com/WpgPoliceHarm" target="_blank"> <img class="hvr-float"  src="{{asset "images/twitter.png"}}" width="50" height="50"> </a>

<a data-aos="fade-up" href="mailto:wpgpolicecauseharm@gmail.com"> <p class="email ">wpgpolicecauseharm@gmail.com</p> </a>
            </div>


            
            <!--<section><h3>Recent posts from the blog</h3><ul><li> <a href="/blog/the-most-recent-post-so-far">The most recent post so far</a></li><li> <a href="/blog/a-simple-post">A simple blog post</a></li><li> <a href="/blog/another-post">Another post</a></li></ul></section>-->
        </div>
    </div>

    {{> footer}}
    
    <!-- Optional JavaScript -->
    <!-- jQuery Slim first, then Popper.js, then Bootstrap JS -->
    <script src="{{asset "js/jquery.min.js"}}"></script>
    <script src="{{asset "js/popper.min.js"}}"></script>
    <script src="{{asset "js/bootstrap.min.js"}}"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init( {once: true}
    );
  </script>
</body>

</html>