<!doctype html>
<html lang="{{@site.lang}}">

<head>
    <title>{{meta_title}}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{asset "css/bootstrap.min.css"}}">


    {{!-- Custom Styles --}}
    <link rel="stylesheet" href="{{asset "css/style.css"}}">

    {{!-- Header CSS --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/header.css"}}" />

    {{!-- Footer CSS --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/footer.css"}}" />

    {{!-- Hero CSS --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/hero.css"}}" />

    {{!-- Animate On Scroll Library --}}
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">



    {{!-- Dynamic header content for SEO, meta tags, code injection etc --}}
    {{ghost_head}}
</head>

<body class="{{body_class}}">


    {{> nav}}

<br>
<br>
<br>

<div id="mission" data-aos="fade-up">

        <div class="text-heading" > <h2> BLOG </h2> </div>
                <div class="text-dark h1 mx-auto hero-text text-left section-width">
                    {{!-- Display the post content --}}
                    {{#page}} {{content}} {{/page}}
                </div>
    </div>

<main id="site-main" class="remove-padding">
    <div class="blog-flex-col">

        <div class="p-5">
            {{!-- Iterate through each posts --}}
            {{#get "posts"}}
            {{!-- Iterate through each posts --}}
            {{#foreach posts}}

            <a class="text-dark" href="{{url}}">
            <article class="{{post_class}} card grow flex-col" data-aos="fade-up">
                <div class="card-body p-0">

                    {{!-- Display primary tag of the post if exists--}}
                    {{!-- {{#if primary_tag}}
                    <a href="{{primary_tag.url}}" class="badge badge-success">
                        {{primary_tag.name}}
                    </a>
                    {{/if}} --}}

                    {{!-- Displays featured image if it exists.--}}
                    {{#if feature_image}}
                        <img class="card-img-top" src={{feature_image}} />
                    {{/if}}
          
                    <br>
                    
                    <div class="p-4 m-2">

                            {{!-- Post title --}}
                            <div class="text-heading"> <h3>{{title}}</h3> </div>
    
                            {{!-- Displays post excerpt. Sets to display max 170 chars if not set --}}
                            <p class="blog-card-text">{{excerpt characters="170"}}</p>

                             <div>
                                <span class="reading-time blog-card-text">{{reading_time}}</span>
                                <span class="blog-card-text"> - Published: {{date published_at timeago="true"}}</span>
                            </div>
                    </div>

                </div>{{!--/.post-card-content--}}
            
            </article>
            </a>

            {{/foreach}}
            {{/get}}
        </div>



    </div>


</main>

    <footer>
            <div class="footer-items">
            <h2 class="footer-defund-the-police">DEFUND THE POLICE.</h2>
 
        <!--     <img src="logo.png" width="100" height="100"> -->
<hr>

            <div class="hero-social-media">
            <a href="https://www.facebook.com/wpgpoliceharm/" target="_blank"> <img class="hvr-float"  src="{{asset "images/facebook.png"}}" width="50" height="50"> </a>
            <a href="https://www.instagram.com/wpgpoliceharm/" target="_blank"> <img class="hvr-float"  src="{{asset "images/instagram.png"}}" height="50"> </a>
            <a href="https://twitter.com/WpgPoliceHarm" target="_blank"> <img class="hvr-float"  src="{{asset "images/twitter.png"}}" height="50"> </a>

            </div>
            </div>
        </footer>

    {{!-- Footer content goes here --}}
    {{!-- <div class="card">
        <div class="card-footer text-muted">
            &copy; {{date format="YYYY"}} {{@site.title}}
        </div>
    </div> --}}
    {{!-- End of footer --}}

    {{!-- Dynamic footer content from code injection etc --}}
    {{!-- {{ghost_foot}} --}}

    <!-- Optional JavaScript -->
    <!-- jQuery Slim first, then Popper.js, then Bootstrap JS -->
    <script src="{{asset "js/jquery.min.js"}}"></script>
    <script src="{{asset "js/popper.min.js"}}"></script>
    <script src="{{asset "js/bootstrap.min.js"}}"></script>
    <script src="{{asset "js/main.js"}}"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>