<!doctype html>
<html lang="{{@site.lang}}">

<head>
    <title>{{meta_title}}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{asset "css/bootstrap.min.css"}}">


    {{!-- Custom Styles --}}
    <link rel="stylesheet" href="{{asset "css/style.css"}}">

    {{!-- Header CSS --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/header.css"}}" />

    {{!-- Footer CSS --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/footer.css"}}" />

    {{!-- Hero CSS --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/hero.css"}}" />

    {{!-- Animate On Scroll Library --}}
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">



    {{!-- Dynamic header content for SEO, meta tags, code injection etc --}}
    {{ghost_head}}
</head>

<body class="{{body_class}}">


    {{> nav}}

        
    <div id="mission" data-aos="fade-up" class="section-1">

        <div class="text-heading" > <h2> RESOURCES </h2></div>
        <div class="text-dark h1 mx-auto hero-text text-left section-width mb-100px"> {{#page}} {{content}} {{/page}} </div>
        
    </div>

    <section class="flex-grid-thirds" style="margin-bottom: 50px">

        <a href="   https://drive.google.com/file/d/1DCkjFweTrxfWZcsn8bDnJhh1nAev0Wmh/view" target="_blank"><div data-aos="fade-up" class="left "> <img class="responsive-poster-size hvr-float"  src="{{asset "images/poster1.png"}}"  width="410" height="532">

        </div>
        </a>

        <a href="https://drive.google.com/file/d/15U4hWejgt-DiW2e7Hgx0stUGEW2z_kBx/view" target="_blank"><div data-aos="fade-up" class="center"> <img class="responsive-poster-size hvr-float"  src="{{asset "images/poster2.png"}}" width="410" height="532">

        </div>
        </a>

         <a href="  https://drive.google.com/file/d/1UHvKqXD6-nZJHvgnE3G74Yc7VSR6wHW_/view" target="_blank"> <div data-aos="fade-up" class="right"> <img class="responsive-poster-size hvr-float"  src="{{asset "images/poster3.png"}}" width="410" height="532">

        </div>
        </a>

    </section>

    <section class="flex-grid-thirds" style="margin-bottom: 50px">

        <a href="   https://drive.google.com/file/d/1Fe7nttAFlIdie_IFhZnVUaxo2-ZUOT9C/view" target="_blank"> <div data-aos="fade-up" class="left poster "> <img  class="responsive-poster-size hvr-float" src="{{asset "images/poster4.png"}}" width="410" height="532">

        </div>
        </a>

        <a href="   https://drive.google.com/file/d/1rE-zyk0wi6La9TSbnNzpfy0tcqNcv22o/view" target="_blank">
        <div data-aos="fade-up" class="center"> <img class="responsive-poster-size hvr-float"  src="{{asset "images/poster5.png"}}" width="410" height="532">

        </div>
        </a>

        <a href="   https://drive.google.com/file/d/1rdmkzMTQqzwu1ZIuWGn5nB67wdN9T18e/view" target="_blank">
        <div data-aos="fade-up" class="right"> <img class="responsive-poster-size hvr-float"  src="{{asset "images/poster6.png"}}" width="410" height="532">

        </div>
        </a>

    </section>

    <section class="flex-grid-thirds" style="margin-bottom: 50px">

         <a href="   https://drive.google.com/file/d/1OGNr5npeXV82LM547y9CO-USjdjRAump/view" target="_blank">
        <div data-aos="fade-up" class="left"> <img class="responsive-poster-size hvr-float"  src="{{asset "images/poster7.png"}}" width="410" height="532">

        </div>
        </a>

        <a href="   https://drive.google.com/file/d/1YvjDW02pklJvOvSDLO9rEaWKk6aZwhPQ/view" target="_blank">
        <div data-aos="fade-up" class="center"> <img class="responsive-poster-size hvr-float"  src="{{asset "images/poster8.png"}}" width="410" height="532">

        </div>
        </a>

        <a href="   https://drive.google.com/file/d/1nL2pkKEvCxtgNGGDpjd3k13EF0uR5qNP/view" target="_blank">
        <div data-aos="fade-up" class="right"> <img class="responsive-poster-size hvr-float"  src="{{asset "images/poster9.png"}}" width="410" height="532">

        </div>
        </a>

    </section>
    <div  style="display: flex;
    justify-content: center;margin-bottom: 100px;margin-top: 50px;"> 
    <a href="https://drive.google.com/file/d/1RmsY8flr9wv4YuBaKHm2dmADoXtUgcJx/view" target="_blank" class="myButton grow2">DOWNLOAD</a>
    </div>

    {{> footer}}

    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
    {{{body}}}

    <!-- Optional JavaScript -->
    <!-- jQuery Slim first, then Popper.js, then Bootstrap JS -->
    <script src="{{asset "js/jquery.min.js"}}"></script>
    <script src="{{asset "js/popper.min.js"}}"></script>
    <script src="{{asset "js/bootstrap.min.js"}}"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init( {once: true}
    );
  </script>
</body>

</html>